<div class="container">

  <div class="row" >
    <div class="text-center">
        <p class="add-margin primary-color">User Login</p>

        <div>
          <form class="add-margin" [formGroup]="loginFormGroup" #formDir="ngForm">
             <div>
              <mat-form-field appearance="legacy">
                  <mat-label>Email address</mat-label>
                  <input matInput formControlName="userName" name="userName" placeholder="Email address" >
                      <mat-error *ngIf="userName.errors?.required">
                              Email is required
                      </mat-error>
                      <mat-error *ngIf="userName.errors?.email">
                              Invalid email address
                      </mat-error>
              </mat-form-field>
             </div>

             <div>
                  <mat-form-field appearance="legacy">
                      <mat-label>Password</mat-label>
                      <input type="password" matInput formControlName="password" name="password" placeholder="Password">
                      <mat-error *ngIf="password.errors?.required">
                              Password is required
                      </mat-error>
                  </mat-form-field>
              </div>
              <div>
              <div>
                <p class="danger-color" *ngFor="let error of commonErrors">{{error.detail}}</p>
              </div>
                <button [disabled]="loginFormGroup.invalid" (click)="login()" class="add-margin" mat-raised-button color="primary">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon>
                  Login
                </button>

                <button (click)="register()" class="add-margin" mat-raised-button >
                  <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
                  Register
                </button>

              </div>
          </form>

        </div>

    </div>
  </div>

</div>
